* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #2e364a;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    scroll-behavior: smooth;
}

body h1 {
    text-align: center;
    width: 100%;
    padding: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color:#fff;
}

.headline {
    background-color: #2e364a;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 3rem auto;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* animation: movedown 1s linear forwards; */
    opacity: 0;
}
/* @keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */

/* .container:nth-child(1) {animation-delay: 0s;}
.container:nth-child(2) {animation-delay: 1s;}
.container:nth-child(3) {animation-delay: 2s;}
.container:nth-child(4) {animation-delay: 3s;}
.container:nth-child(5) {animation-delay: 4s;}
.container:nth-child(6) {animation-delay: 5s;} */

.text-box {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 1rem;
}

.left-container {
    left:0
}

.right-container {
    left: 50%;
}

.container .container-img {
    position: absolute;
    width: 40px;
    border: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.right-container .container-img {
    left: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background:#fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    /* animation: moveline 6s linear forwards; */
}
/* @keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
} */



.text-box h2 {
    font-weight: 600;
}
.text-box small {
    display: inline-block;
    margin-bottom: 1rem;
}

.left-container__arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container__arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

.background {
    position: fixed;
    display: flex;
    top: -90px;
    width: 100%;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: -30;
    background-color: red;
    background-repeat: repeat-y;
    align-items: center;
}

.image-blur-load {
    position: inherit;
    filter: blur(10px) saturate(20%);
    z-index: -1;
    width: 100%;
    max-width: 1200px;
}


.background-img {
    position: inherit;
    filter: blur(0px) saturate(20%);
    z-index: 0;
    width: 100%;
    max-width: 1200px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5rem;
    max-width: 1000px;
    align-self: center;
}

.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: gray;
}
.footer a::after {
    color: white;
}

.arrow-down{
    display: flex;
    z-index: 20;
    width:60px;
    height:40px;
    margin:0 0 0 0;
    position: absolute;
    left: calc(50% - 5px);
    bottom:0px;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
    scale: 170%;
    
  }
  
  .arrow-down:hover{
     -webkit-animation-play-state: paused;
  }
  
  .left{
    position:absolute;
    height:10px;
    width:40px;
    background:black;
    -webkit-transform:rotate(240deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
  }
  
  .right{
    position:absolute;
    height:10px;
    width:40px;
    background:black;
    -webkit-transform:rotate(-60deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
  }
  
  @-webkit-keyframes arrow{
    0% {
      bottom:0px;
    }
    100%{
      bottom:40px;
    }
  }
  
  
  @-webkit-keyframes leftArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(225deg);
    }
  }
  
  @-webkit-keyframes rightArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(-45deg);
    }
  }

.intoText {
    color: #fff;
    max-width: 1000px;
    font-size: 1.3rem;
    font-weight: bold;
    align-self: center;
    hyphens: auto; 
	text-align: justify;
    margin-top: 6.5rem;
    margin-right: 0rem;
    margin: 6.5rem 2rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.text-box__content {
    hyphens: auto;
    text-align: justify;
    margin-bottom: 0.3rem;
}

.background-img {
    opacity: 0%;
    transition: opacity 200ms ease-in-out;
}

.background-img.loaded {
    opacity: 100%;
}

.blur-div {
    background-size: cover;
    background-position: center;
}

.container-content-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    opacity: 0%;
}

.container-content-img.loaded {
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
}

.jump-back-top-btn {
    color: #fff;
    background-color: gray;
    border-color: #2e364a;
    border-width: 2px;

    aspect-ratio: 1/1;
    width: 3rem;
    border-radius: 100%;

    position: sticky;
    left: calc(calc(100% - 3rem - 5rem));
    top: calc(calc(100% - 3rem - 1rem));

    z-index: 40;

    font-size: 2rem;
    font-weight: 700;
    
}
.jump-back-top-btn:hover {
    background-color: darkgray;
}


@media screen and (max-width: 880px) {
    .background{
        top: -45px;
    }
}

@media screen and (max-width: 880px) {
    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 0.8rem;
    }
    .text-box small {
        font-size: 0.6rem;
        margin-bottom: 0.7rem;
    }
    .right-container {
        left: 0;
    }

    .left-container .container-img, .right-container .container-img {
        left: 10px;

    }
    .left-container__arrow, .right-container__arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
}
